.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #080236;
  width: 1550px;
  height: 4785px;
  position: relative;
  overflow: hidden;
}
.home {
  color: #00d1ff;
  text-align: left;
  font: 400 26px "Hammersmith One", sans-serif;
  position: absolute;
  left: 554px;
  top: 92px;
  width: 197.14px;
  height: 30px;
}
.student-corner {
  color: #00d1ff;
  text-align: left;
  font: 400 26px "Hammersmith One", sans-serif;
  position: absolute;
  left: 716px;
  top: 92px;
  width: 276px;
  height: 30px;
}
.contact-us {
  color: #00d1ff;
  text-align: left;
  font: 400 26px "Hammersmith One", sans-serif;
  position: absolute;
  left: 1119px;
  top: 92px;
  width: 197.14px;
  height: 30px;
}
.about-us {
  color: #00d1ff;
  text-align: left;
  font: 400 26px "Hammersmith One", sans-serif;
  position: absolute;
  left: 957px;
  top: 92px;
  width: 197.14px;
  height: 30px;
}
.keep-calm-and-study-hard-removebg-preview-1 {
  width: 629px;
  height: 664px;
  position: absolute;
  left: 661px;
  top: 179px;
}
.are-you-an-aspiring-engineering-student-looking-to-kickstart-your-career-with-the-latest-job-opportunities-valuable-study-materials-and-exciting-certification-courses-and-internships-welcome-to-student-essential-your-one-stop-destination-for-all-things-related-to-your-academic-and-professional-growth {
  color: #ffffff;
  text-align: left;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 188px;
  top: 280px;
  width: 673px;
  height: 535px;
}
.student-essential-is-a-dynamic-online-platform-designed-exclusively-for-engineering-students-our-mission-is-to-empower-you-with-the-resources-and-information-you-need-to-excel-academically-and-thrive-in-your-future-career-here-s-what-you-can-expect-from-our-website {
  color: #ffffff;
  text-align: left;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 188px;
  top: 923px;
  width: 1065px;
  height: 487.92px;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here {
  color: #ffffff;
  text-align: left;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 182px;
  top: 2298px;
  width: 1065px;
  height: 1435px;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span2 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span3 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span4 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span5 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span6 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span7 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span8 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.comprehensive-resources-we-offer-a-one-stop-platform-that-caters-to-all-your-student-needs-from-academic-resources-to-career-development-opportunities-we-ve-got-you-covered-user-friendly-interface-our-website-is-designed-with-students-in-mind-it-s-easy-to-navigate-ensuring-that-you-can-quickly-find-the-information-and-resources-you-need-regular-updates-we-continuously-update-our-database-with-the-latest-job-openings-study-materials-certifications-and-internships-to-keep-you-informed-about-the-most-current-opportunities-community-support-join-a-thriving-community-of-students-who-share-their-experiences-insights-and-advice-connect-with-peers-who-can-guide-you-on-your-academic-and-career-journey-at-student-essentials-com-we-are-committed-to-supporting-you-every-step-of-the-way-our-goal-is-to-empower-you-with-the-tools-and-knowledge-needed-to-excel-academically-and-launch-a-successful-career-explore-our-website-take-advantage-of-the-opportunities-we-offer-and-embark-on-a-journey-toward-a-brighter-future-your-educational-and-career-success-begins-here-span9 {
  color: #ffffff;
  font: 700 28px/66px "Outfit", sans-serif;
}
.our-goal {
  color: #00d1ff;
  text-align: center;
  font: 400 50px/66px "Potta One", sans-serif;
  position: absolute;
  left: -30px;
  top: 230px;
  width: 678px;
  height: 100.32px;
}
.exploring-opportunities {
  color: #00d1ff;
  text-align: left;
  font: 400 50px/66px "Potta One", sans-serif;
  position: absolute;
  left: 185px;
  top: 843px;
  width: 790px;
  height: 100.32px;
}
.student-corner2 {
  color: #00d1ff;
  text-align: center;
  font: 400 50px/66px "Potta One", sans-serif;
  position: absolute;
  left: calc(50% - 395px);
  top: 1241px;
  width: 790px;
  height: 100.32px;
}
.about-us2 {
  color: #00d1ff;
  text-align: center;
  font: 400 50px/66px "Potta One", sans-serif;
  position: absolute;
  left: calc(50% - 395px);
  top: 2158px;
  width: 790px;
  height: 100.32px;
}
.the-exam-cram-how-to-manage-that-last-minute-prep-stress-9-1-1 {
  width: 2px;
  height: 1px;
  position: absolute;
  left: 584px;
  top: 1605px;
}
.the-exam-cram-how-to-manage-that-last-minute-prep-stress-9-1-2 {
  border-radius: 80px;
  width: 398px;
  height: 228px;
  position: absolute;
  left: 281px;
  top: 1356px;
}
.study {
  border-radius: 80px;
  width: 398px;
  height: 229.15px;
  position: absolute;
  left: 765px;
  top:1356px;
}
.job-opportunities {
  color: #ffffff;
  text-align: center;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 294px;
  top: 1597px;
  width: 372px;
  height: 79px;
}
.certification-courses {
  color: #ffffff;
  text-align: center;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 294px;
  top: 1996px;
  width: 372px;
  height: 79px;
}
.internships {
  color: #ffffff;
  text-align: center;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 791px;
  top: 1996px;
  width: 372px;
  height: 79px;
}
.screenshot-2-1 {
  border-radius: 80px;
  width: 399px;
  height: 239px;
  position: absolute;
  left: 761px;
  top: 1736px;
}
.study-materials {
  color: #ffffff;
  text-align: center;
  font: 700 28px/66px "Outfit", sans-serif;
  position: absolute;
  left: 791px;
  top: 1597px;
  width: 372px;
  height: 79px;
}
.screenshot-1-1 {
  border-radius: 80px;
  width: 398px;
  height: 239.37px;
  position: absolute;
  left: 281px;
  top: 1736px;
}
.student-essential-high-resolution-logo-color-on-transparent-background-1 {
  width: 233px;
  height: 135px;
  position: absolute;
  left: 214px;
  top: 29px;
  backdrop-filter: blur(2px);
}
.rectangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 188px;
  top: 2280px;
  overflow: visible;
}
.contact-us2 {
  color: #00d1ff;
  text-align: center;
  font: 400 50px/66px "Potta One", sans-serif;
  position: absolute;
  left: calc(50% - 401px);
  top: 3733px;
  width: 790px;
}
.rectangle-3 {
  background: linear-gradient(
    180deg,
    rgba(0, 56, 255, 0.24) 0%,
    rgba(0, 56, 255, 0) 100%
  );
  border-radius: 80px;
  width: 1065px;
  height: 455px;
  position: absolute;
  left: 188px;
  top: 3829px;
}
.map-1 {
  width: 30px;
  height: 36.49px;
  position: absolute;
  left: 299px;
  top: 3851px;
}
.https-github-com-pritambehera-02 {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 359px;
  top: 3903px;
  width: 349px;
  height: 60px;
}
.subhashree-subhasmita-mishra {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 339px;
  top: 4208px;
  width: 349px;
  height: 60px;
}
.woman-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 295px;
  top: 4221px;
}
.man-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 294px;
  top: 3967px;
}
.man-2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 294px;
  top: 4095px;
}
.man-3 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 295px;
  top: 4156px;
}
.man-4 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 294px;
  top: 4031px;
}
.github-1-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 294px;
  top: 3907px;
}
.gmail-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 516px;
  top: 3975px;
}
.gmail-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 550px;
  top: 4036px;
}
.gmail-3 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 673px;
  top: 4226px;
}
.gmail-4 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 531px;
  top: 4105px;
}
.gmail-5 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 517px;
  top: 4164px;
}
.keonjhar-odisha-india {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 366px;
  top: 3843px;
  width: 228px;
  height: 60px;
}
.sahoo-harshit-2001-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 555px;
  top: 4146px;
  width: 295px;
  height: 60px;
}
.mishrasubhashreesubhasmita-213-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 710px;
  top: 4208px;
  width: 435px;
  height: 60px;
}
.mishrasubhashreesubhasmita-213-gmail-com-span {
  color: #ffffff;
  font: 700 20px/66px "Outfit", sans-serif;
}
.mishrasubhashreesubhasmita-213-gmail-com-span2 {
  color: #ffffff;
  font: 700 20px/66px "Outfit", sans-serif;
  text-decoration: underline;
}
.pritambehera-143772562-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 553px;
  top: 3957px;
  width: 354px;
  height: 60px;
}
.antaryamibehera-2002-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 587px;
  top: 4020px;
  width: 338px;
  height: 60px;
}
.beherah-023-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 567px;
  top: 4088px;
  width: 246px;
  height: 60px;
}
.pritam-behera {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 322px;
  top: 3957px;
  width: 228px;
  height: 60px;
}
.antaryami-behera {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 339px;
  top: 4020px;
  width: 228px;
  height: 60px;
}
.hemant-behera {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 327px;
  top: 4083px;
  width: 228px;
  height: 60px;
}
.harshit-sahoo {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 321px;
  top: 4143px;
  width: 228px;
  height: 60px;
}
.copyright-by-student-essential-all-rights-reserved {
  color: #ffffff;
  text-align: center;
  font: 700 20px/66px "Outfit", sans-serif;
  position: absolute;
  left: 188px;
  top: 4695px;
  width: 1065px;
  height: 71px;
}
.team-removebg-preview-1 {
  width: 929px;
  height: 409px;
  position: absolute;
  left: 266px;
  top: 4263px;
}
